<h1>Result</h1>

<p>Yout trip is from <%= @from%> to <%= @to%> for <%= @duration%> days</p>
<p>Your choice of attraction sites are: <%= @plan.keys.join(', ')%></p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 500px;'></div>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){


    <% @plan.each do |place, value| %>
      lastMarker = handler.addMarkers([
        { 
          "lat": <%= value[:coordinates][0] %>,
          "lng": <%= value[:coordinates][1] %>,
          "infowindow": "<%= place %>"
         }
    ]);

    <% end %>

    handler.bounds.extendWith(lastMarker);
    handler.fitMapToBounds();

    handler.getMap().setZoom(12)
    });
</script>

<h1>Your Itinerary</h1>
<table>
  <tr>
    <th>Day(s)<th>
    <th>Attractions<th>
    <th>Address<th>
  </tr>
  <% for index in 0...@duration %>
    <tr>
      <td><%= index + 1%><td>
      <td><%= @itinerary[index]%><td>
      <td><td>
    </tr>
  <% end %>
</table>
