<h1>Result</h1>

<p>Yout trip is from <%= @from%> to <%= @to%> for <%= (DateTime.strptime(@to, '%Y-%m-%d') - DateTime.strptime(@from, '%Y-%m-%d')).to_i%> days</p>
<p>Your choice of attraction sites are: <%= @names.join(', ')%></p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 500px;'></div>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    <% @coords_collection.each do |coords|%>
      markers = handler.addMarkers([
        {
        "lat": <%= coords[0]%>,
        "lng": <%= coords[1]%>,
        "infowindow": "location"
        }
    ]);

    <% end %>

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

    handler.getMap().setZoom(12)
    });
</script>